#navigation {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;

    li {
      margin: 5px 0;
      background-color: gray;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  button {
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
  }
}